* {
    margin: 0;
    box-sizing: border-box;
}


.hero {
    background-color: #1f2937;
    padding: 20px 0;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    color: white;
    align-items: center;
}

.container {
    margin: 0 200px;
    min-width: 399px;
}

nav {
    margin-left: auto;
}

#nav-flex {
   display: flex;
   list-style: none;
}

li {
    margin: 0 15px;

}

#logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-header {
    display: flex;
    margin: 100px 0;
}

#text-header {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text {
    width: 496px;
}

.img {
    width: 550px;
    height: 250px;
}

img {
   width: 100%;
   height: 100%;

}


.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 15px;
}

a {
    display: inline-block;
    background-color: #00bfff;
    padding: 10px 50px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 15px;
}

#random {
    text-align: center;
    padding: 30px;
    font-size: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.info-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 165px;
    height: 220px;
}

.rect {
    width: 165px;
    height: 165px;
    border: 3px solid #00bfff;
    border-radius: 10px;
    background-image: url(./laptop.jpg);
    background-size: cover;
}

.align-text {
    margin-top: 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    min-height: 500px;
    background-image: url(./laptop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.quote-container {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    padding: 0 50px;
}

.italic {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.thor {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    margin-right: 50px;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.action {
    display: flex;
    background-color: #00bfff;
    padding: 50px;
    border-radius: 10px;
}

#action, #sign {
    margin: 0 90px;
    color: white;
}

#sign {
    border: 2px solid white;
    display: inline-block;
    padding: 10px 40px;
}



#bold {
    font-size: 24px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1f2937;
}

.copy {
    color: white;
    padding: 20px;
    font-size: 20px;
}


@media only screen and (max-width: 1250px){

    #action, #sign {
        margin: 0 40px;
    }

    .action {
        padding: 30px;
    }

    .call .container {
        margin: 0 70px;
        
    }

}


@media only screen and (min-width: 400px) and (max-width: 1000px){

    .hero-header {
        flex-flow: row wrap;
        min-width: 300px;
        margin: 100 auto;
        text-align: center;
        justify-content: center;
    }

    .action {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1em;
        padding: 20px;
        color: #1f2937;
    }


    #action, #link {
        font-size: 0.8em;
    }

    .action p {
        margin: 5px;
    }

    .hero-text:first-child {
        margin-bottom: 25px;
    }

    .hero .container {
        margin: 0 50px;
    }

    .nav {
        display: flex;
        justify-content: center;
        margin: 0 150px;
        gap: 1em;
    }

    li.secondary-text, #logo {
        width: 6em;
        text-align: center;
    }

}
